.app {
  position: absolute;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn-handler {
  display: flex;
  flex-direction: column;
}
.btn {
  width: 200px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 8px;
  background-color: #1A82D9;
  font-weight: 600;
  font-size: 20px;
  color: white;
  transition: all .3s;
}
.input-field {
  height: 34px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  transition: all .2s;
}
.input-field:focus {
  transform: outline;
  outline: 2px solid lightcyan;
}
.btn:active {
  box-shadow: 2px 1px 8px 6px #ccc;
}
.btn:hover {
  transform: background-color;
  background-color: #2C91E5;
}

